@import "funcoes";


/* =============================================================================================
	NAVBAR RESPONSIVO 
   ---------------------------------------------------------------------------------------------*/




// Style accordion
/* ---------------------------------------------------------------------------------------------*/

.accordion {
	.accordion-heading {
		position: relative;

		a {
			font-size: em($font-size + 1px);
			padding-left: 25px;
			*padding-left: 15px;
			@extend %fb;
			@extend %border-radius-top;
			@include linear-gradient-hor(#f0f0f0, #fdfdfd, #f0f0f0);

			&:before {
				content: '';
				position: absolute;
				left: 10px;
				top: 50%;
				width: 10px;
				height: 10px;
				margin-top: -6px;
				display: block;
				background-image: url("#{$url-img}template/set.gif");
				background-position: center 2px;
				*display: none;
			}

			&.collapsed:before { 
				@include rotate(); 
				@extend %border-radius-bottom;
			}
		}

		.tooltip-badge {
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -9px;
			min-width: 39px;
			text-align: center;

			span { display: inline-block; }
		}
	}
}