@import "funcoes";




/* =============================================================================================
	Elemento - append
   ---------------------------------------------------------------------------------------------*/
//  vars
	$obj: 'input, select';
	$resolucoes: 'desktop', 'tablet', 'phone';
	$width-icon: 40px;

// =============================================================================================


// =============================================================================================
// MIXINS
// =============================================================================================

@mixin gera-add($display, $screen, $acao: 'hidden') {
	@if $display == 'hidden' {
		@include define-media($screen, $screen, $display, $acao);
	} @else {
		// visible - show $screen e oculta demais resolucoes
		@each $i in $resolucoes {
			@if $i == $screen { $acao: 'visible'; } @else { $acao: 'hidden'; }
			@include define-media($i, $screen, $display, $acao);
		}
	}
}
// cria class pra sua respectiva resolucao
@mixin define-media($res, $screen, $display, $acao) {
	@if $res == 'desktop' {
		@media (min-width: $res-monitor + 1) {
			@include add-display($display, $acao, $screen);
		}
	} @else if $res == 'tablet' {
		@media (min-width: $res-tablet + 1) and (max-width: $res-monitor) {
			@include add-display($display, $acao, $screen);
		}
	} @else if $res == 'phone' {
		@media (max-width: $res-tablet) {
			@include add-display($display, $acao, $screen);
		}
	}
}
// cria class add-(visible/hidden)-(screen);
@mixin add-display($display, $acao, $screen) {
	[class*="append-"]#{".add-#{$display}-#{$screen}"} {
		@if $acao == 'hidden' {
			&[class*="-icon-left"] { #{$obj} { padding-left: 6px !important; } }
			&[class*="-icon-right"] { #{$obj} { padding-right: 6px !important; } }
			.add-on { display: none !important; }
		} @else {
			.add-on { display: inherit !important; }
		}
	}
}

// =============================================================================================


.input-append .add-on, .input-append .btn, .input-append .btn-group > .dropdown-toggle {
	@extend %border-radius-right;
}


.form-search {
	&[class*="append-"] {
		&[class$="-right"] {
			input { padding: 4px 8px 4px 14px; }

			.add-on {
				padding-right: 14px;
				margin-left: -3px;
				@include border-radius(0 14px 14px 0);
			}
		}

		&[class$="-left"] {
			input {
				margin-left: -4px;
				padding: 4px 14px 4px 8px;
			}

			.add-on {
				padding-left: 14px;
				@include border-radius(14px 0 0 14px);
			}
		}
	}
}

[class*="append-"] {
	position: relative;

	.add-on {
		position: absolute;
		top: 0;
		text-align: center;
		display: inline-block;
		height: $height-input;
		@include box-sizing();
		border: 1px solid #bbbbbb;
		border-color: #{'rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25)'};
	}

	&[class*="-icon"] {
		.add-on { width: $width-icon; }
	} /* -icon */


	&[class*="-icon-left"],
	&[class*="append-left"]	 {
		#{$obj} { 
			padding-left: $width-icon + 6; 
			// @include border-radius(4px 0 0 4px); 
		}

		.add-on {
			left: 0;
			@include border-radius(4px 0 0 4px);
		}
	} /* -icon-left */

	&[class*="-icon-right"],
	&[class*="append-right"] {
		#{$obj} { 
			padding-right: $width-icon + 6; 
			// @include border-radius(0 4px 4px 0); 
		}

		.add-on {
			right: 0;
			@include border-radius(0 4px 4px 0);
		}
	} /* -icon-right */

	&[class*="-icon-left"] .add-on { margin-right: -$width-icon; }
	&[class*="-icon-right"] .add-on { margin-left: -$width-icon; }

	#{$obj} { z-index: 0; }
	.add-on { z-index: 2; }
	// a.add-on { 
	// 	&:hover, &:focus, &:active {
	// 		border-color: $cor-primaria;
	// 		background-color: $cor-primaria;
	// 		[class^="icon-"] { background-image: icons(); }
	// 	}
	// 	&:active {
	// 		@include box-shadow('inset 0 0 5px rgba(0,0,0,0.3)');
	// 	}
	// }

	&.append-no-padding input,
	&.append-no-padding select {
		padding-left: 6px;
		padding-right: 6px;
	}
} /* append- */

@each $screen in $resolucoes {
	/* .add-hidden-#{$screen} */ 
	@include gera-add('hidden', $screen);
	/* .add-visible-#{$screen} */ 
	@include gera-add('visible',$screen);
}