@import "funcoes";
 


/* =============================================================================================
	CLASSES GENÉRICAS 
   ---------------------------------------------------------------------------------------------*/


%border-radius { @include border-radius(); }
%border-radius-top { @include border-radius-top(); }
%border-radius-bottom { @include border-radius-bottom(); }
%border-radius-left { @include border-radius(4px 0 0 4px); }
%border-radius-right { @include border-radius(0 4px 4px 0); }
%no-border-radius { @include border-radius(0); }
%box-sizing { @include box-sizing(); }
%transition { @include transition(); }
%text-shadow { text-shadow: 0 -1px 0 #{'rgba(0, 0, 0, 0.25)'}; }
%no-text-shadow { text-shadow: none; }
%box-shadow { @include box-shadow(); }
%box-shadow-inner { @include box-shadow('inset 0 0 0.5em rgba(0, 0, 0, 0.35), 0 0 0.2em rgba(0, 0, 0, 0.05)'); }
%no-box-shadow { @include box-shadow(none); }
%no-linear-gradient { @include linear-gradient(transparent); filter: none; }
%icon-white { background-image: icons(); }
%translateY{ @include translateY(); }
%visible-block { @include opacity(100); }
%visible-hide { @include opacity(0); }

.no-border { border: 0 !important; }
.overflowY { overflow-y: auto; overflow-x: hidden; }
.inline-block { display: inline-block; }
.block { display: block; }
.none { display: none; }
.visible-hide { visibility: hidden; }
.oculta-hide, .esconde { position: absolute; left: -10000em; top: -10000em; }
.oculta-show { position: static; }
.v-top { vertical-align: top; }


// color / back
/* ---------------------------------------------------------------------------------------------*/
@each $cor in ('success', $cor-success) ('error', $cor-error) ('warning', $cor-warning) ('info', $cor-info) ('inverse', $cor-inverse) {
	$name: nth($cor, 1);
	$color: nth($cor, 2);
	.color-#{$name} { color: $color; }
	.back-#{$name} { background: $color; }
}