@import "funcoes";

/* =============================================================================================
	DROPDOWN
   ---------------------------------------------------------------------------------------------*/

%dropdown-link { color: $cor-link; }
%dropdown-link-hover { color: #FFFFFF; }
%dropdown-link-hover-back { @include linear-gradient($cor-primaria); }
%dropdown-link-visited { color: $cor-link-visited; }
%dropdown-link-disabled { color: #CCC; }
%dropdown-link-disabled-back { @include linear-gradient(#F8F8F8); }

/* Cor e comportamento do link */
/* ---------------------------------------------------------------------------------------------*/
.dropdown-menu {
	.nav-header { 
		font-size: em($font-size - 2);
		@extend %no-text-shadow; 
	}
	.divider { margin: 4px 1px; }

	a:not(.btn), a.link {
		&, &:link, &:visited { @extend %dropdown-link; }
		&:hover, &:focus, &:active {
			outline: none; 
			text-decoration: none;
			@extend %dropdown-link-hover; 
			@extend %dropdown-link-hover-back;
		}
		// &:visited { @extend %dropdown-link-visited; }
	}

	a[disabled], a.link[disabled]{ 
		&, &:hover, &:focus, &:active, &:visited { 
			@extend %dropdown-link-disabled;
			@extend %dropdown-link-disabled-back; ;
		} 
	}
}