@import "funcoes";




/* =============================================================================================
	Formulario
   ---------------------------------------------------------------------------------------------*/
//  vars

// modelo
.input-bootstrap {    
	height: 20px;
    padding: 4px 6px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    @extend %border-radius;
	@include transition('border linear .2s,box-shadow linear .2s');
	@include box-shadow('inset 0 1px 1px rgba(0,0,0,0.075)');
}

// =============================================================================================








/* =============================================================================================
	FORMULARIO
   ---------------------------------------------------------------------------------------------*/

form {
	margin: 0;

	&:not(.form-horizontal),
	&:not(.form-inline) {
		.control-group {
			.msg-help { margin-top: 10px; }
		}
	}
}

/* fieldset - legend */
fieldset > legend {
	font-size: em(16px);
	line-height: $line-height;
	padding: 5px 0;
	margin-bottom: 10px;
}



/* Campos */ 
/* ---------------------------------------------------------------------------------------------*/

label, .control-label { @extend %fb; }
.txtLabel { display: inline-block; padding-top: 5px; }

textarea {
	resize: vertical;
	width: 100%;
	min-height: 50px;
	@extend %box-sizing;
}

input[type="file"] { @extend .input-bootstrap; }



/* Elementos */ 
/* ---------------------------------------------------------------------------------------------*/

.control-group { height: auto !important; }
.controls { position: relative; }

.input-block-level { 
	width: 100% !important;
	// *width: auto !important;
}

/* Radio table asp */ 
.RadioButtonList {
	&.inline-block tr { 
		float: left;
		margin-right: 10px;

		&:last-child { margin-right: 0; }
	}

	td { padding-top: 5px; }
	label, input { float: left; }
	label { margin: 0 5px; }
}



/* Elementos .large */ 
/* ---------------------------------------------------------------------------------------------*/
// input, select, .btn, label.checkbox, label.radio {
// 	&.large { line-height: 30px; }
// }

// input.large, select.large {
// 	min-height: 40px;
// 	height: 30px;
// }

// label.checkbox.large, label.radio.large {
// 	input { margin-top: 9px; }
// }



/* form-horizontal */ 
/* ---------------------------------------------------------------------------------------------*/
.form-horizontal {
	&.no-label {
		.control-label { display: none; }
		.controls { margin-left: 0; }
	}

	.control-group { 
		margin-bottom: 10px;
	}

	@each $w in 50, 60, 80, 100, 120, 140 {
		&.width-#{$w}, .width-#{$w} {
			.control-label { width: $w#{'px'}; }
			.controls { margin-left: ($w + 20)#{'px'}; }
		}
	}

	@media (max-width: $res-cel) {
		[class*="width-"] .controls { margin-left: 0 !important; }
	}

	.input-bootstrap {
		display: inline-block;
	    margin-bottom: 0;
	    vertical-align: middle;
	}
}



/* form-inline */ 
/* ---------------------------------------------------------------------------------------------*/
.form-inline {
	.control-group,
	.control-label,
	.controls {
		vertical-align: top;
		// display: inline-block;
		float: left;
	}

	.control-label { 
		margin: 0 20px 0 20px; 
		text-align: right;
		width: 100px;
		margin-top: 5px;
	}

	&.width-auto .control-label { width: auto; }

	.help-block { margin: 10px 0 0 0; }

	.controls > .radio,
	.controls > .checkbox { 
		padding-top: 5px; 
		margin-left: 10px;
		input { margin-right: 7px; }
		&:first-child { margin-left: 0; }
	}
}



/* Form divLinha */ 
/* ---------------------------------------------------------------------------------------------*/
.divLinha { 
	margin-bottom: 10px;
	
	.divTitItem, .divItem { display: inline-block; }
	.divTitItem{ 
		width: 80px; 
		margin-right: 20px;
		text-align: right;
		@extend %fb;
	}

	.divItem input { margin-bottom: 0; }
}



/* FORM.JS - VALIDAÇÃO DE FORMULÁRIO */ 
/* ---------------------------------------------------------------------------------------------*/
.before-required {
	color: rgb(185,39,34);
	position: absolute;
	left: -17px;
	top: 5px;
	font-size: 13px;
	cursor: help;
	
	.no-label & { left: -7px; top: 0; }
	.no-required & { display: none; }
}

[required]:valid ~ .before-required { color: $btn-solid-success; @include opacity(80); }

label .before-required { display: none; }
label:first-child .before-required { display: block; }

input, 
select,
textarea {
	.form-horizontal & ~ .help-block { margin-top: 10px; }
}

.msg-help { 
	position: relative;
	cursor: help;
	line-height: 15px; 
	padding-right: 10px;
	left: 0;

	&,
	input + &,
	select + &,
	textarea + & {
		left: 0;
		animation: deslizar_msg_out 0.1s linear alternate;

		&:after {
			content: '×';
			position: absolute;
			top: 0;
			left: 0;
			height: 10px;
			width: 10px;
			display: block;
			color: #666 !important;
			@include opacity(0);
			animation: deslizar_close_out 0.2s linear alternate;
		}
	}

	&:hover, 
	&:focus,
	input:focus ~ &,
	select:focus ~ &,
	textarea:focus ~ &,
	label.radio:hover ~ &,
	label.checkbox:hover ~ & {
		left: 10px;		
		animation: deslizar_msg 0.1s linear alternate;

		&:after {
			left: -10px;
			@include opacity(100);
			animation: deslizar_close 0.2s linear alternate;
		}
	}
}

@keyframes deslizar_close {
	from { left: 0; @include opacity(0); } to { left: -10px; @include opacity(100); }
}
@keyframes deslizar_close_out {
	from { left: -10px; @include opacity(100); } to { left: 0; @include opacity(0); }
}
@keyframes deslizar_msg {
	from { left: 0; } to { left: 10px; }
}
@keyframes deslizar_msg_out {
	from { left: 10px; } to { left: 0; }
}